.footer_contanier{
  padding: 60px 10px;
    background-color: rgb(59, 69, 90);
}.footer_links h5{
  color: #fff;
}
.footer_links ul  li{
  list-style: none;
    margin-left: -30px;
    color: rgb(147, 154, 156);
}
.footer_links li:link{
  color: rgb(147, 154, 156);
    text-decoration: none;
    transition: 0.5s;
}
.footer_contanier .social{
  border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border: 1px solid white;
    margin: 20px 12px;
    transition: 0.5s;
}
.footer_contanier .social a{
  font-size: 1.8rem;
    color: white;
    margin-top: -10px;
}
.footer_contanier .social a path{
  color: white;
}